In [1]:
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', None)

In [4]:
pd.read_csv(r'D:\pythonp_programming\INPAQ_Python_project\數據整理\歷年來台旅客國籍統計.csv', encoding='big5')

,國籍,細分,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,亞洲地區,日本 Japan,977705,"659,972","890,444","1,127,184","1,163,835","1,170,582","1,090,585","1,007,618","1,102,054","1,300,022","1,443,009","1,434,346","1,637,264","1,629,193","1,896,456","1,895,546","1,966,303"
1,亞洲地區,"韓國 Korea,Republic of",86408,"94,060","149,182","184,559","198,507","228,582","252,973","170,646","223,940","246,149","262,340","355,473","531,703","662,670","887,412","1,055,207","1,021,530"
2,亞洲地區,印度 India,17379,"15,817","20,538","21,986","22,463","24,678","23,327","22,126","28,931","28,048","27,659","28,321","34,332","36,833","38,331","40,846","45,243"
3,亞洲地區,中東 Middle East,10224,"8,422","12,838","13,262","12,687","13,446","12,356","12,182","13,349","13,361","12,608","13,758","15,734","16,800","17,453","19,714","20,346"
4,亞洲地區,東南亞地區 馬來西亞 Malaysia,66516,"75,869","105,246","123,961","132,996","159,839","171,630","184,577","311,349","331,744","367,817","424,053","464,518","458,401","500,496","552,620","548,947"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,非洲地區,非洲其他地區 Others,3993,"2,566","3,710","3,803","3,699","3,761","3,891","4,101","4,666","4,656","5,086","5,094","5,740","5,572","5,869","6,184","6,444"
40,非洲地區,非洲合計 Total,9479,"8,278","10,514","10,008","9,636","9,316","9,158","8,671","9,509","9,426","9,485","9,530","10,350","10,572","11,002","12,006","12,054"
41,全區,未列明 Unstated,6341,"4,645","1,631",325,230,177,242,232,237,350,380,464,585,665,863,"1,018","1,144"
42,全區,華僑 Overseas Chinese,539164,"436,083","522,045","579,908","664,198","727,248","882,651","1,624,922","2,331,800","2,498,757","3,479,835","3,920,681","5,223,156","5,556,738","4,987,259","4,286,663","4,220,892"
43,全區,總計 Grand Total,2831035,"2,248,117","2,950,342","3,378,118","3,519,827","3,716,063","3,845,187","4,395,004","5,567,277","6,087,484","7,311,470","8,016,280","9,910,204","10,439,785","10,690,279","10,739,601","11,066,707"